{% extends "main.html" %}
{% block head %}
    <script>
        function get_class() {
            $.get("/status", function(dat) {
                // console.log(dat);
                dat = dat.split(" ")
                jQuery("#player1img").attr("class", dat[0]);
                jQuery("#player2img").attr("class", dat[1]);
                jQuery("#hp1 span").css("height", dat[2]+"px");
                jQuery("#hp2 span").css("height", dat[3]+"px");
                setTimeout(get_class, 100);
            });
        }
        get_class();
    </script>
{% endblock %}

{% block content %}
    <h1> FIGHT! </h1>
    <span id="hp1" class="hp"><span class="hp"></span></span>
    <span id="player1img" class="down"></span>
    <span id="player2img" class="down"></span>
    <span id="hp2" class="hp"><span class="hp"></span></span>
{% endblock %}
